<% @categories.each do |category| %>
  <h2><%= category.title %></h2>
  <ul>
    <% Array(@category_posts[category.key]).each do |post| %>
      <li>
        <a href="/edit<%= post.path %>"><%= post.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>
