<% @categories.each do |category| %>
  <ul class="collection with-header">
    <li class="collection-header">
      <%= category.title %>
    </li>
    <% Array(@category_posts[category.key]).each do |post| %>
      <li class="collection-item">
        <a href="/edit<%= post.path %>"><%= post.title %></a>
      </li>
    <% end %>
  </ul>
<% end %>
