<!DOCTYPE html>
<html>
  <body>
    <a href="/new">新規作成</a>
    <% @categories.each do |category| %>
      <h2><%= category.title %></h2>
      <ul>
        <% Array(@category_posts[category.key]).each do |post| %>
          <li>
            <%= post.title %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
