<!DOCTYPE html>
<html>
  <body>
    <a href="/new">新規作成</a>
    <ul>
      <% Carraway::Category.all.each do |category| %>
        <li><%= category.title %></li>
      <% end %>
    </ul>
  </body>
</html>
